:not(pre) > code::before, :not(pre) > code::after {
	content: "";
}
table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #3f6149;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #bdbdbd;
  color: #0c5321;
}

.code-section {
	border: 2px solid #565656;
}

pre.slidev-code{
  margin-right: 5%;
}